@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{

    font-family: 'Rajdhani', sans-serif;
    color: whitesmoke;
    background-color:rgb(39, 37, 37); }

    
header .logo h1{
    
    text-transform: uppercase;
    font-size: 3rem;      
    color: rgb(38, 221, 221);
    text-align: center;
}

.container{
    margin: 5px;
    text-align: center;

}
.logo-bg-container{
   
    width: 100%;
    height: 85vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.Team{
    background-image: url(./img/Argentina.jpg);
}
.messi{
    background-image: url(/img/MESSI.jpg);
}
.di{
    background-image: url(/img/angel-di-maria.jpg);
}
.lautaro{
    background-image: url(/img/Martinez.jpg);
}
.paul{
    background-image: url(/img/DE-Paul.jpeg);
}
.dybala{
    background-image: url(/img/paulo-dybala.jpg);
}
.logo-bg-container h1{
    color: whitesmoke;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
  text-align: right;

}

.team-details-container h1{
    text-transform: uppercase;
    font-size: 3rem;
    color: skyblue;
    margin-bottom: 25px;
}

/*.messi-text h1{
    color: tomato;
}*/
.team-details-container p{
    text-align: justify;
    font-size: 1.3rem;
}
.team-details-container a{
    text-decoration: none;
    color:whitesmoke;
    background-color: rgb(245, 78, 78);
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 25px;
 }
 .team-details-container a:hover{
    background-color:rgba(0, 255, 255, 0.562) ;
 }

 .team-details-container a:active{
    outline: 5px solid rgba(0, 255, 255, 0.137);
 }

 footer p{
   font-size: 1.2rem;
   text-align: center;
   margin-bottom: 25px;
 }